{% extends "main/base.html" %}
{% load static %}

{% block title %} 
    Pizza
{% endblock %}

{% block meta_block %}

<script>

    retrievedData = localStorage.getItem("basket_content");
    console.log("MERGE FAZA", JSON.parse(retrievedData));

</script> 

{% endblock %}

{% block body %}

<div class="container-sm">
    
    <div class="row mt-5">
        
        <div class="col-lg-4">
            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>

            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>

            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>

            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>

            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>

            <div class="card mb-3 text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button class="btn" style="background-color: red;">X</button>
                </div>
            </div>
        
        
        
        </div>

        <div class="col-lg-8">

            <div class="card text-center">
                <img class="card-img-top" src="{% static 'main/img/toscana.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">The best pizza you'll ever eat in your life!</p>
                  <a href="" class="btn btn-primary">Continue to order</a>
                </div>
              </div>

        </div>




    </div>

</div>



{% endblock %}