{% extends "main/base.html" %}

{% block title %} 
    Pizza
{% endblock %}


{% block body %}

<h1 style="text-align: center;"> TO DO!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis esse repellendus at maiores ratione vero modi delectus consequatur quibusdam autem, hic quod excepturi! Rem possimus nesciunt beatae deserunt similique!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis esse repellendus at maiores ratione vero modi delectus consequatur quibusdam autem, hic quod excepturi! Rem possimus nesciunt beatae deserunt similique!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis esse repellendus at maiores ratione vero modi delectus consequatur quibusdam autem, hic quod excepturi! Rem possimus nesciunt beatae deserunt similique!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis esse repellendus at maiores ratione vero modi delectus consequatur quibusdam autem, hic quod excepturi! Rem possimus nesciunt beatae deserunt similique!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis esse repellendus at maiores ratione vero modi delectus consequatur quibusdam autem, hic quod excepturi! Rem possimus nesciunt beatae deserunt similique!</p>


{% endblock %}