{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Pizza LogIn</title>
        
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/signin.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'main/main.js' %}"></script>
        <script src="{% static 'main/signin.js' %}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body class="text-center">

        {% include 'main/includes/messages.html' %}

        <form method="POST">
            {% csrf_token %}

            <!-- <label>
              <p class="label-txt">ENTER YOUR EMAIL</p>
              <input type="text" class="input">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label> -->

            <label>
              <p class="label-txt">ENTER YOUR NAME</p>
              <!-- <input type="text" class="input"> -->
              <!-- {{ form.username }} -->
              <input type="text" class="input" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>
            
            <label>
              <p class="label-txt">ENTER YOUR PASSWORD</p>
              <!-- <input type="text" class="input"> -->
              <!-- {{ form.password }} -->
              <input type="password" class="input" name="password" autocomplete="current-password" required id="id_password">
              <div class="line-box">
                <div class="line"></div>
              </div>
            </label>

            <button type="submit">Log In</button>
            <br>

            <label>
              <p class="label-txt">If you don't have an account register <a href="/register">here!</a></p>
            </label>

        </form>
        

    </body>    

</html>