{% extends "main/base.html" %}
{% load static %}

{% block title %} 
    Pizza
{% endblock %}


{% block body %}

<br>

<div class="row row-cols-1 row-cols-md-4">
    {% for pizza in pizzas %}
        <div class="col mb-4">
            <div class="card h-100 overlay">
                <img src="/static/{{pizza.photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" id="{{ forloop.counter0 }}">{{pizza.name}}</h5>
                <p class="card-text">{{pizza.description}}</p>
                <p class="card-text">Price: {{pizza.price}}</p>
                </div>
                {% if logged_in %}
                <button onclick="add_to_basket('{{ forloop.counter0 }}')" class="btn btn-primary">Add to basket!</button>
                {% else %}
                <a href="/login" class="btn btn-primary">Log in to order!</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}