{% extends "main/base.html" %}
{% load static %}

{% block title %} 
    Pizza
{% endblock %}

{% block meta_block %}

{% endblock %}

{% block body %}


<br>

<br><br><br><br><br>
<a href="/add_new_pizza" class="btn btn-primary btn-lg btn-block" role="button">Add new Pizza!</a>

<br>

<div class="row row-cols-1 row-cols-md-4">

    {% for pizza in pizzas %}
        <div class="col mb-4">
            <div class="card h-100 overlay">
                <img src="/static/{{pizza.photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" id="{{ forloop.counter0 }}">{{pizza.name}}</h5>
                <p class="card-text">{{pizza.description}}</p>
                <p class="card-text">Price: {{pizza.price}}</p>
                </div>
                <button onclick="update_func()" class="btn btn-primary">EDIT</button>
                <button onclick="delete_func('{{pizza.id}}')" class="btn btn-primary" style="background-color: red;">DELETE</button>
            </div>
        </div>
    {% endfor %}

</div>




<script src="{% static 'main/staff.js' %}"></script>
{% endblock %}