<!-- 
<div class="position-absolute w-100 d-flex flex-column p-4" style="z-index: 9;">
    
    <div class="toast ml-auto" role="alert" data-delay="800" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Pizza</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body" id="body_content">  </div>
    </div>

</div>





{% if messages %}
    {% for message in messages %}

        <script> $('#body_content').html(' {{ message }} '); $('.toast').toast('show'); </script>

    {% endfor %}

{% endif %} -->

<div class="alert alert-primary" id="alert" role="alert" style="display:none; width: 15%;  z-index: 9; position: absolute; left: 80%; top: 10%; background-color: chartreuse;" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>

    <span id="body_content"></span>

</div>

{% if messages %}
    {% for message in messages %}

    <script>

        $('#body_content').html(" {{ message}} ");
        $('#alert').show();
        setTimeout(function() { 
            $('#alert').hide(); 
        }, 2000);

    </script>
    {% endfor %}
{% endif %}
